{% extends 'app.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="jumbotron">
                <a href="{{ path('chat_show') }}" class="btn btn-secondary btn-lg btn-block"><i
                            class="far fa-paper-plane"></i> Go to chat</a>
            </div>
        </div>
    </div>
{% endblock %}
